.timeline-container {
  display: flex;

  /* justify-content: space-between; */
}

.sec2 {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.four {
  background-color: rgb(101 86 18);
}

.one {
  background-color: rgb(86 14 14);
}

.two {
  background-color: rgb(10 44 129);
}

.three {
  background-color: rgb(15 87 22);
}
